<h1><%= @cat.name %></h1>

<!--ADD TABS -->

<table>
  <tr align="right">
    <th>Age: &nbsp;</th>
    <td align="left"><%= @cat.age %></td>
  </tr>

  <tr align="right">
    <th>Color: &nbsp;</th>
    <td align="left"><%= @cat.color.capitalize %></td>
    <tr>

  <tr align="right">
    <th>Sex: &nbsp;</th>
    <td align="left"><%= @cat.sex %></td>
  </tr>

  <tr align="right">
    <th>Date of Birth: &nbsp;</th>
    <td align="left"><%= @cat.birthdate %></td>
  </tr>

  <tr align="right">
    <th>Description: &nbsp;</th>
    <td align="left"><%= @cat.description %></td>
    <tr>
</table>
<br>

  <% (@cat.rental_requests.sort_by do |rental|
    rental.start_date
    end).each do |rental| %>
    <p>Start date: <%= rental.start_date %><br>
       End date: <%= rental.end_date %><br>
       Status: <%= rental.status %></p>
      <%  if rental.pending? %>
        <%= button_to "Approve!", approve_rental_request_url(rental), method: :post %>
        <%= button_to "Deny!", deny_rental_request_url(rental), method: :post %>
      <% end %>
  <% end %>

<a href ="<%= edit_cat_url(@cat) %>">Edit <%= @cat.name %></a>
<a href="<%= cats_url %>">Back to all cats</a>
<br><br>
<form action="<%= cat_url(@cat) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Puts <%= @cat.name %> out of his misery</button>
</form>
